/*———————————————————————————————————————*/
/* SECTION Imports                       */
/*———————————————————————————————————————*/

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

/*———————————————————————————————————————*/
/* SECTION Body & HTML                   */
/*———————————————————————————————————————*/

body, html {
    background: var(--page-color);
    width: 100%;
    height: 100%;
    margin: 0;
}

main {
    animation: fadeIn 2s;
}

hr {
    position: absolute;
    width:    100%;
    border:   0.2em solid var(--text-color-3);
    opacity: 0;
}

/*———————————————————————————————————————*/
/* SECTION Variables                     */
/*———————————————————————————————————————*/

:root {
    --page-color:   black;
    --text-color-1: black;
    --text-color-2: white;
    --text-color-3: rgb(1, 205, 66);

    --page-font:    'Barlow Condensed', sans-serif;
}

/*———————————————————————————————————————*/
/* SECTION Classes                       */
/*———————————————————————————————————————*/

/* SECTION Page 1 */
.page-body {
    position:         absolute;
    left:             50%;
    transform:        translate(-50%);
    width:            100%;
    height:           100%;
    background-color: black;
}

.topnav {
    background-color: black;
    overflow:         hidden;
    font-family:      'Barlow Condensed', sans-serif;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float:           left;
    display:         block;
    color:           var(--text-color-3);
    text-align:      center;
    margin-left:     3em;
    text-decoration: none;
    font-size:       1em;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    color: white;
}
  
  /* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #04AA6D;
    color:            var(--text-color-2);
}
  
  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.reactor-images {
    position:      fixed;
    width:         30em;
    height:        15em;
    border-radius: 1em;
    animation:     fadeIn 4s;
}

/* SECTION Page 2 */
.page-body-2 {
    position:    absolute;
    top:         60em;
    height:      100%;
    width:       100%;
    color:       white;
    font-family: var(--page-font);
    color:       var(--text-color-3);
}

.about-title {
    font-size:       3em;
    width:           100%;
    text-align:      center;
    text-decoration: underline;
}

.about-info {
    font-size: 1.5em;
    width:     100%;
}

/* SECTION Page 3 */
.page-body-3 {
    position:    absolute;
    top:         135em;
    height:      100%;
    width:       100%;
    color:       white;
    background:  black;
    font-family: var(--page-font);
    color:       var(--text-color-3);
}

.contact-title {
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
}

.contact-info {
    font-size: 1.5em;
    text-align: center;
}

.email {
    text-decoration: none;
    color: var(--text-color-3)
}

.email:hover {
    text-decoration: underline;
}

/*———————————————————————————————————————*/
/* SECTION Id's                          */
/*———————————————————————————————————————*/

#hr-1 {
    top: 50em;
}

#hr-2 {
    top: 130em;
}

/* SECTION Page 1 */
#nav-element {
    position: absolute;
    width:    100%;
}

#intro-element {
    position:  fixed;
    left:      50%;
    top:       10em;
    transform: translate(-50%);
}

#company-info {
    position:    absolute;
    top:         22.5em;
    width:       100%;
    text-align:  center;
    color:       var(--text-color-3);
    font-family: var(--page-font);
}

#image-circle {
    border:        0.5em solid var(--text-color-3);
    border-radius: 50%;
}

#image {
    filter: brightness(0.8);
}

#company-slogan {
    text-decoration: underline;
    font-size: 1.5em;
}

#company-name {
    font-family: var(--page-font);
    color:       var(--text-color-3);
    width:       100%;
    font-size:   3em;
    text-align:  center;
    user-select: none;
}

#reactor-image-element {
    width: 100%;
    min-width: 80%;
}

#reactor-image-1 {
    top: 10em;
    left: 1.5em;
}

#reactor-image-2 {
    top: 10em;
    right: 1.5em;
}

/* SECTION Page 2 */
#about-element {
    position:  absolute;
    left:      50%;
    transform: translate(-50%);
    width:     80%;
    height:    100%;
}

#company-info {
    position: fixed;
}

/* SECTION Page 3 */
#contact-element {
    position:  absolute;
    left:      50%;
    transform: translate(-50%);
    width:     80%;
    height:    100%;
}

/*———————————————————————————————————————*/
/* SECTION Media Queries                 */
/*———————————————————————————————————————*/

/* SECTION Page 1 & 2 */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}

    .topnav a.icon {
        float:   right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}

    .topnav.responsive .icon {
        position: absolute;
        right:    0;
        top:      0;
    }

    .topnav.responsive a {
        float:      none;
        display:    block;
        text-align: left;
    }
}

/*———————————————————————————————————————*/
/* SECTION Keyframes                     */
/*———————————————————————————————————————*/

  @keyframes fadeIn {
    0%   {opacity:0;}
    100% {opacity:1;}
}